In [2]:
import pandas as pd

In [20]:
dfObj = pd.DataFrame([], columns = ['Name' , 'Age', 'City'])

In [21]:
dfObj

Empty DataFrame
Columns: [Name, Age, City]
Index: []

In [12]:
tmp_se = pd.Series( [ 1, 2, 3], index=dfObj.columns )

In [19]:
print(tmp_se)

Name    1
Age     2
City    3
dtype: int64

In [17]:
dfObj = dfObj.append(tmp_se, ignore_index=True)

In [18]:
dfObj

  Name Age City
0    1   2    3
1    1   2    3

In [22]:
tmp_se = pd.Series( [ (1, 4), 2, 3], index=dfObj.columns )

In [23]:
tmp_se

Name    (1, 4)
Age          2
City         3
dtype: object

In [24]:
dfObj = dfObj.append(tmp_se, ignore_index=True)

In [25]:
dfObj

     Name Age City
0  (1, 4)   2    3